body {
	margin:0 auto;
	font-size:16px;
	-webkit-text-size-adjust: 100%;
	max-width:800px;
	font-family:sans-serif;
	background: gray;
}

#teacherControls {
	text-align: center;
	font-size: 20px;
	min-height: 40px;
	padding: 10px;
	border-bottom:5px black solid;
	background: white;
}

#teacherControls > select {
	font-size:20px;
	height:40px;
	background: white;
	margin:10px;
}

#textToRead {
	background: white;
	font-size: 20px;
	line-height: 1.5em;
	text-decoration: underline;
	padding:25px;
	font-family: "Times New Roman";
}