body {
	margin:0 auto;
	font-size:16px;
	max-width:50em;
	font-family:sans-serif;
	background: gray;
}
#teacherControls {
	text-align: center;
	font-size: 20px;
	min-height: 40px;
	padding: 10px;
	border-bottom:5px black solid;
	background: white;
}
#teacherControls > select {
	font-size:20px;
	height:40px;
	background: white;
}
#textToRead {
	background: white;
	display: inline-block;
	font-size: 20px;
	line-height: 1.5em;
	text-decoration: underline;
	padding:25px;
	height: 100%;
	font-family: "Times New Roman";
}